<div class="container-fluid parent-div" style="background-image: url('assets/login-back.jpg');">
  <div class="row">
    <div class="col-md-12 p-2 text-center" style="background-color: black;">
      <p style="color: white;">Employee Management Portal</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 p-3 d-flex justify-content-center">
      <div class="form-div p-5">
        <div class="row mb-3">
          <div class="col-md-12 text-center">
            <h3>Login To Portal</h3>
            <div style="border-top: 3px solid rgb(20,18,40); width: 12%; margin-left: 42%;"></div>
          </div>
        </div>
        <form [formGroup]="login">
          <div class="form-group mb-3">
            <label class="mb-2" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              formControlName="email" placeholder="Enter email">
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="mb-2" for="exampleInputPassword1">Password</label>
            </div>
            <div *ngIf="showEyeBtn" class="col-md-6 text-end">
              <a (click)="eyeButtonFunc()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                </svg>
              </a>
            </div>
            <div *ngIf="!showEyeBtn" class="col-md-6 text-end">
              <a (click)="eyeButtonFunc()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                  <path
                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                  <path
                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                </svg>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input [type]="isHidden ? 'password' :'text'" class="form-control" id="exampleInputPassword1"
                placeholder="Password" formControlName="password">
            </div>
          </div>
          <div class="form-group mt-2 form-check">
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <div class="col-md-6 text-end">
                <a class="forget">Forget Password</a>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" (click)="onSubmit()" [disabled]="this.login.invalid" class="btn login">Login</button>
          </div>
          <div class="row mt-4">
            <div class="col-md-12 text-end">
              <span>Don't Have an account <a routerLink="../sign-up" class="sign-up">SignUp</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
