.parent-div {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
}

.form-div {
  min-width: 50%;
  background-color: #E0EAFC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
}

button.login {
  border: none;
  outline: none;
  background-color: rgb(54, 164, 32);
  color: white;
  padding: 8px 20px;
}

a.forget {
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

a.sign-up {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

a.sign-up:hover {
  text-decoration: underline;
  color: black;
}

span {
  color: grey;
}
